.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #ffbf00, #ff0080);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .login-form label {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ff0080;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #e60073;
  }
  